## π“ 1. λ°μ΄ν„° λ¶λ¬μ¤κΈ°

In [34]:
import pandas as pd

# νμΌ κ²°λ΅ μ§€μ •
file_path = "../data/raw/seoul_food_map.csv"

# CSV νμΌ λ¶λ¬μ¤κΈ°
with open(file_path, encoding="cp949", errors="replace") as f:
    df = pd.read_csv(f)

/tmp/ipykernel_52192/1164755509.py:8: DtypeWarning: Columns (36,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

In [35]:
df.head()

,κ°λ°©μμΉλ‹¨μ²΄μ½”λ“,κ΄€λ¦¬λ²νΈ,μΈν—κ°€μΌμ,μΈν—κ°€μ·¨μ†μΌμ,μμ—…μƒνƒμ½”λ“,μμ—…μƒνƒλ…,μƒμ„Έμμ—…μƒνƒμ½”λ“,μƒμ„Έμμ—…μƒνƒλ…,νμ—…μΌμ,ν΄μ—…μ‹μ‘μΌμ,...,κ³µμ¥νλ§¤μ§μΆ…μ—…μ›μ,κ³µμ¥μƒμ‚°μ§μΆ…μ—…μ›μ,κ±΄λ¬Όμ†μ κµ¬λ¶„λ…,λ³΄μ¦μ•΅,μ›”μ„Έμ•΅,λ‹¤μ¤‘μ΄μ©μ—…μ†μ—¬λ¶€,μ‹μ„¤μ΄κ·λ¨,μ „ν†µμ—…μ†μ§€μ •λ²νΈ,μ „ν†µμ—…μ†μ£Όλμμ‹,ν™νμ΄μ§€
0,3000000,3000000-101-1997-07612,1997-09-25,NaN,3,νμ—…,2,νμ—…,2003-06-18,NaN,...,NaN,NaN,NaN,NaN,NaN,N,10.50,NaN,NaN,NaN
1,3000000,3000000-101-1997-07610,1997-09-25,NaN,3,νμ—…,2,νμ—…,1999-02-26,NaN,...,NaN,NaN,NaN,NaN,NaN,N,40.60,NaN,NaN,NaN
2,3000000,3000000-101-2000-11659,2000-11-28,NaN,3,νμ—…,2,νμ—…,2004-03-09,NaN,...,NaN,NaN,NaN,NaN,NaN,N,23.40,NaN,NaN,NaN
3,3000000,3000000-101-2000-11660,2000-11-28,NaN,3,νμ—…,2,νμ—…,2004-05-27,NaN,...,NaN,NaN,NaN,NaN,NaN,N,15.97,NaN,NaN,NaN
4,3000000,3000000-101-1981-00796,1981-08-26,NaN,3,νμ—…,2,νμ—…,2003-05-09,NaN,...,NaN,NaN,NaN,NaN,NaN,N,211.44,NaN,NaN,NaN

In [36]:
df.columns.to_list()

['κ°λ°©μμΉλ‹¨μ²΄μ½”λ“',
 'κ΄€λ¦¬λ²νΈ',
 'μΈν—κ°€μΌμ',
 'μΈν—κ°€μ·¨μ†μΌμ',
 'μμ—…μƒνƒμ½”λ“',
 'μμ—…μƒνƒλ…',
 'μƒμ„Έμμ—…μƒνƒμ½”λ“',
 'μƒμ„Έμμ—…μƒνƒλ…',
 'νμ—…μΌμ',
 'ν΄μ—…μ‹μ‘μΌμ',
 'ν΄μ—…μΆ…λ£μΌμ',
 'μ¬κ°μ—…μΌμ',
 'μ „ν™”λ²νΈ',
 'μ†μ¬μ§€λ©΄μ ',
 'μ†μ¬μ§€μ°νΈλ²νΈ',
 'μ§€λ²μ£Όμ†',
 'λ„λ΅λ…μ£Όμ†',
 'λ„λ΅λ…μ°νΈλ²νΈ',
 'μ‚¬μ—…μ¥λ…',
 'μµμΆ…μμ •μΌμ',
 'λ°μ΄ν„°κ°±μ‹ κµ¬λ¶„',
 'λ°μ΄ν„°κ°±μ‹ μΌμ',
 'μ—…νƒκµ¬λ¶„λ…',
 'μΆν‘μ •λ³΄(X)',
 'μΆν‘μ •λ³΄(Y)',
 'μ„μƒμ—…νƒλ…',
 'λ‚¨μ„±μΆ…μ‚¬μμ',
 'μ—¬μ„±μΆ…μ‚¬μμ',
 'μμ—…μ¥μ£Όλ³€κµ¬λ¶„λ…',
 'λ“±κΈ‰κµ¬λ¶„λ…',
 'κΈ‰μμ‹μ„¤κµ¬λ¶„λ…',
 'μ΄μΈμ›',
 'λ³Έμ‚¬μΆ…μ—…μ›μ',
 'κ³µμ¥μ‚¬λ¬΄μ§μΆ…μ—…μ›μ',
 'κ³µμ¥νλ§¤μ§μΆ…μ—…μ›μ',
 'κ³µμ¥μƒμ‚°μ§μΆ…μ—…μ›μ',
 'κ±΄λ¬Όμ†μ κµ¬λ¶„λ…',
 'λ³΄μ¦μ•΅',
 'μ›”μ„Έμ•΅',
 'λ‹¤μ¤‘μ΄μ©μ—…μ†μ—¬λ¶€',
 'μ‹μ„¤μ΄κ·λ¨',
 'μ „ν†µμ—…μ†μ§€μ •λ²νΈ',
 'μ „ν†µμ—…μ†μ£Όλμμ‹',
 'ν™νμ΄μ§€']

## π“ 2. μΆν‘ λ³€ν™ (EPSG:2097 β†’ EPSG:4326)

In [37]:
from pyproj import Transformer

# μΆν‘ λ³€ν™κΈ° μ΄κΈ°ν™” (μ¤‘λ¶€μ›μ  -> μ„κ²½λ„)
transformer = Transformer.from_crs("EPSG:2097", "EPSG:4326", always_xy=True)


# λ³€ν™ ν•¨μ μ •μ
def convert_coords(x, y):
    try:
        lon, lat = transformer.transform(x, y)
        return pd.Series([lat, lon])
    except:
        return pd.Series([None, None])

In [38]:
# μΆν‘ λ³€ν™ μ‹¤ν–‰
df[["μ„λ„", "κ²½λ„"]] = df.apply(
    lambda row: convert_coords(row["μΆν‘μ •λ³΄(X)"], row["μΆν‘μ •λ³΄(Y)"]), axis=1
)

# κ²°κ³Ό ν™•μΈ
df[["μ‚¬μ—…μ¥λ…", "μ§€λ²μ£Όμ†", "μ„λ„", "κ²½λ„"]].head()

,μ‚¬μ—…μ¥λ…,μ§€λ²μ£Όμ†,μ„λ„,κ²½λ„
0,κ³ ν–¥μ§‘,μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ­μΈλ™ 408-0λ²μ§€,37.577555,127.019148
1,μ„±ν„νΈν”„,μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ λ…λ¥4κ°€ 154-3λ²μ§€,37.582017,126.996896
2,λ°©κ°€λ°©κ°€,"μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ κ΄€μλ™ 20-0λ²μ§€ 21-7,21-8 κµ­μΌκ΄€λ“λ¦Όν°λ¦¬μ¤",37.569744,126.987088
3,λΉ„λΉ„μ•(B.B.R)λΉ„λΉ”λ°¥,"μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ κ΄€μλ™ 20-0λ²μ§€ 21-7,21-8 κµ­μΌκ΄€λ“λ¦Όν°λ¦¬μ¤",37.569744,126.987088
4,μ•„μΉ¨λ°”λ‹¤,μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ λ‚΄μλ™ 110-33λ²μ§€,37.572916,126.968694

## π“ 3. λ§ν¬κµ¬ μμ‹μ λ§ ν•„ν„°λ§

In [42]:
# μ§€λ²μ£Όμ† κΈ°μ¤€ λ§ν¬κµ¬λ§ ν•„ν„°λ§
df_mapo = df[df["μ§€λ²μ£Όμ†"].str.contains("λ§ν¬", na=False)]

# NaN κ°’ μ κ±°
df_mapo = df_mapo.dropna(subset=["μ„λ„", "κ²½λ„"])

# ν•„μ”ν• μ»¬λΌλ§ μ •λ¦¬
df_mapo = df_mapo[["μ‚¬μ—…μ¥λ…", "μ§€λ²μ£Όμ†", "μ„λ„", "κ²½λ„"]]
df_mapo.reset_index(drop=True, inplace=True)

# μ €μ¥ (μ„ νƒ)
df_mapo.to_csv("../data/processed/mapo_restaurants.csv", index=False)

# ν™•μΈ
df_mapo.head()

    μ‚¬μ—…μ¥λ…                        μ§€λ²μ£Όμ†         μ„λ„          κ²½λ„
0  ν•΄μ μ­κΎΈλ―Έ  μ„μΈνΉλ³„μ‹ λ§ν¬κµ¬ λ§μ›λ™ 394-89λ²μ§€ 1μΈµ   37.552936  126.903311
1    λ³΄λ¬Όμ„¬     μ„μΈνΉλ³„μ‹ λ§ν¬κµ¬ μ•„ν„λ™ 326-24λ²μ§€   37.555927  126.951907
2  κµ΄λ‹¤λ¦¬μ‹λ‹Ή    μ„μΈνΉλ³„μ‹ λ§ν¬κµ¬ λ„ν™”λ™ 25-6λ²μ§€ ,7   37.542255  126.948966
3  μ°λ¦¬μ™•λ§λ‘      μ„μΈνΉλ³„μ‹ λ§ν¬κµ¬ λ€ν¥λ™ 404-6λ²μ§€   37.546144  126.938931
4   ν™€μ§ν™€μ§       μ„μΈνΉλ³„μ‹ λ§ν¬κµ¬ μ„κµλ™ 355-25   37.553685  126.918553

In [44]:
df_mapo.shape

(26716, 4)